nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') Sif
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='home'): i.glyphicon.glyphicon-home &nbsp;Home
        li: a(ui-sref='user.register'): i.glyphicon.glyphicon-plus-sign &nbsp;Register
        li: a(ui-sref='user.login'): i.glyphicon.glyphicon-user &nbsp;Login
