h3.text-center {{name | uppercase}}

.row.text-center
  .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
    form(name='userForm' ng-submit='submit(user)')
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', ng-model='user.email')
      .form-group
        label(for='password') Password
        input.form-control#password(type='password', name='password', ng-model='user.password')
      .form-group
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          .btn-group.btn-group-justified(role='group' aria-label='Login or Register')
            .btn-group(role='group')
              button.btn.btn-success( type='submit') Email
            .btn-group(role='group')
              button.btn.btn-info( type='button' ng-click='oauth("twitter")') Twitter
            .btn-group(role='group')
              button.btn.btn-primary( type='button' ng-click='oauth("google")') Google
            .btn-group(role='group')
              button.btn.btn-info( type='button' ng-click='oauth("facebook")') Facebook
            .btn-group(role='group')
              button.btn.btn-default( type='button' ng-click='oauth("github")') GitHub
